docs/n8n_workflow_chatbot.json
{
  "name": "Chatbot Protección de Datos - CUSTODIO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-custodio",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Reception",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "mode": "switch",
        "fallbackOutput": "free_text",
        "rules": {
          "mode": "passThrough",
          "dataType": "string",
          "values": [
            {
              "operation": "contains",
              "operand1": "={{ $json.message }}",
              "operand2": "hola|buenos|buenas|hola|buen día|buenas tardes"
            },
            {
              "operation": "contains",
              "operand1": "={{ $json.message }}",
              "operand2": "rat|registro|actividad|tratamiento|crear|registrar|proceso|que es|qué es"
            },
            {
              "operation": "contains",
              "operand1": "={{ $json.message }}",
              "operand2": "1|opciones|menu|menú|ver todas"
            }
          ]
        }
      },
      "id": "intent-classifier",
      "name": "Clasificador de Intención",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "messageToRender": "={{ $json.message }}",
        "options": {}
      },
      "id": "flujo-bienvenida",
      "name": "Flujo 1: Bienvenida y Menú",
      "type": "n8n-nodes-base.setNodeVersion1",
      "typeVersion": 1.1,
      "position": [450, 100],
      "continueOnFail": false
    },
    {
      "parameters": {
        "messageToRender": "={{ $json.message }}",
        "options": {}
      },
      "id": "flujo-rat",
      "name": "Flujo 4: Guía RAT",
      "type": "n8n-nodes-base.setNodeVersion1",
      "typeVersion": 1.1,
      "position": [450, 500],
      "continueOnFail": false
    },
    {
      "parameters": {
        "kind": "redis",
        "sessionIdPrefix": "custodio-chat-",
        "sessionIdKey": "sessionId",
        "messageKey": "message",
        "historyKey": "chat_history",
        "metadataKey": "metadata",
        "options": {
          "ttl": 3600
        }
      },
      "id": "chat-memory",
      "name": "Chat Memory",
      "type": "n8n-nodes-base.chatMemory",
      "typeVersion": 1.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "command",
        "prompt": {
          "type": "expression",
          "values": [
            {
              "name": "prompt",
              "string": "Eres un asistente experto en protección de datos personales, específicamente en la Ley 21.719 de Chile (norma que regula la protección de la vida privada y el tratamiento de los datos personales).\n\nTienes acceso a transcripciones y resúmenes de un curso oficial sobre esta ley.\n\nCONVERSACIÓN ANTERIOR:\n{{ $json.chat_history }}\n\nPREGUNTA ACTUAL DEL USUARIO:\n{{ $json.user_message }}\n\nResponde de forma clara, concisa y en español. Si no tienes certeza de algo, indícalo honestamente y remite al usuario a un profesional del área legal.\n\nNUNCA inventes artículos o números de ley que no existan. Sé helpful pero responsable."
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.3
        }
      },
      "id": "cohere-node",
      "name": "Cohere IA",
      "type": "n8n-nodes-base.cohere",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "cohereApi": "={{ $env.COHERE_API_KEY }}"
      }
    },
    {
      "parameters": {
        "jsCode": "// Construir respuesta estructurada para el frontend\nconst input = $input.first().json;\n\nlet responseText = input.response || input.message || '';\nlet options = input.options || [];\n\n// Si viene del nodo Cohere, extraer el texto correctamente\nif (input.generations && input.generations.length > 0) {\n  responseText = input.generations[0].text;\n  options = [];\n}\n\n// Si viene del flujo de bienvenida ( menú)\nif (input.flujo === 'bienvenida') {\n  responseText = input.message;\n  options = input.options || [\n    { label: 'Conocer mis derechos', value: 'opcion1' },\n    { label: 'Qué es un RAT y cómo crear uno', value: 'opcion2' },\n    { label: 'Reportar una brecha', value: 'opcion3' },\n    { label: 'Ver todas las opciones', value: 'opcion4' }\n  ];\n}\n\n// Si viene del flujo RAT\nif (input.flujo === 'rat') {\n  responseText = input.message;\n  options = [\n    { label: 'Volver al menú principal', value: 'menu' },\n    { label: 'Crear un RAT', value: 'crear_rat' },\n    { label: 'Más información', value: 'mas_info' }\n  ];\n}\n\nreturn {\n  json: {\n    response: responseText,\n    options: options,\n    timestamp: new Date().toISOString(),\n    sessionId: input.sessionId || 'anonymous'\n  }\n};\n"
      },
      "id": "response-formatter",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Reception": {
      "main": [
        [
          {
            "node": "Clasificador de Intención",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador de Intención": {
      "main": [
        [
          {
            "node": "Flujo 1: Bienvenida y Menú",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flujo 4: Guía RAT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flujo 1: Bienvenida y Menú",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flujo 1: Bienvenida y Menú": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flujo 4: Guía RAT": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "main": [
        [
          {
            "node": "Cohere IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere IA": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["chatbot", "proteccion-datos", "custodio"],
  "meta": {
    "templateCredsSetup": false,
    "templateId": "chatbot-proteccion-datos",
    "_TEMPLATE_TYPE": "professional"
  }
}